/.vagrant
/.ansible-tmp
/.ansible


.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/target**

inventories/**/files/*.pem
inventories/**/files/*.key

.vault_pass
.vault_pass.txt
inventories/e2e/vault_password

/.venv
/venv
__pycache__/

