[defaults]
deprecation_warnings = False
inventory = inventories/demo/inventory.yml
host_key_checking = false
remote_user = vagrant
roles_path = roles
local_tmp = .ansible/tmp
vault_password_file = inventories/demo/vault_password.demo

[ssh_connection]
pipelining = true

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
